
		<div id="banner">
			<img src="img/mine-images/head_60.jpg"/>
			<span>17319299097</span>
			<img src="img/mine-images/vip_img.png"/>
			<img src="img/mine-images/icon17.png"/>
		</div>
		<div class="f5">
			
		
		<div id="sign">
			<img src="img/mine-images/5678911_03.gif"/>
			<p>您还没有签到，<br />签到可以赚取<b>2</b>金币</p>
			<span>签到</span>
		</div>
		<ul id="myWallet">
			<li>
				<span><img src="img/mine-images/icon11.png"/>我的天地</span>
				<span>快乐/幸福<a>></a></span>
			</li>
			<li>
				<span>one<br /><a>文章</a></span>
				<span>two<br /><a>视频</a></span>
				<span>three<br /><a>图集</a></span>
				<span>four<br /><a>其他</a></span>
			</li>
		</ul><!--myWallet-end-->
		<ul id="myOrderForm" >
			<li>
				<span><img src="img/mine-images/icon01.png"/>我的快乐</span>
				<span>查看全部<a>></a></span>
			</li>
			<li ng-controller="mineCtrl">
				<span><img src="img/mine-images/tt_icon01.jpg"/><br /><a href="#/mine/1">读书</a></span>
				<span><img src="img/mine-images/tt_icon03.jpg"/><br /><a href="#/mine/2">音乐</a></span>
				<span><img src="img/mine-images/tt_icon02.jpg"/><br /><a href="#/mine/3">电影</a></span>
				<span><img src="img/mine-images/tt_icon04.jpg"/><br /><a href="#/mine/4">逛街</a></span>
			</li>
		</ul><!--myOrderForm-end-->
		<ul id="personalSet">
			<li>
				<img src="img/mine-images/icon04.png"/>
				<a>个人设置</a>
				<a>></a>
			</li>
			<li>
				<img src="img/mine-images/icon02.png"/>
				<a class="location">当前城市：</a>
				<a>></a>
			</li>
			<li>
				<img src="img/mine-images/icon14.png"/>
				<a>其他</a>
				<a><img src="img/mine-images/icon21.png"/>></a>
			</li>
		</ul><!--personalSet-->
		
		<ul id="collect">
			<li>
				<img src="img/mine-images/icon03.png"/>
				<a>我的收藏</a>
				<a>></a>
			</li>
			<li>
				<img src="img/mine-images/icon_news.png"/>
				<a>新闻公告</a>
				<a>></a>
			</li>
		</ul>
		<ul id="logout">
			<li>退出账户</li>
		</ul>
</div>
