
<header class="sQHeader">
		<ul>
			<li><a href="javascript:history.go(-1);" title="返回" class="top_img"></a></li>
			<li>阳光明媚</li>
			<li class="Nav">
				<a href="#" title="菜单" class="top_img"></a>
				<div class="HideNav">
					<img src="../img/hd_menu02.png">
					<a href="javascript:;">回首页</a>
					<a href="javascript:;">购物车</a>
					<a href="javascript:;">个人中心</a>
				</div>
			</li>
		</ul>
	</header>
<div id="shop-infor">	
	

	<div class="swiper-container swapper">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide slider" ><img src="img/001.jpg" height="320" width="320" style="width: 12rem;"></div>
	        <div class="swiper-slide slider"><img src="img/004.jpg" height="320" width="320"  style="width: 12rem;"></div>
	    </div>
    <!-- 如果需要分页器 -->
   		 <div class="swiper-pagination slider-page"></div>
	</div>

	<p id="img-p"><img src="img/2.png"> 我看三亚多妩媚，料三亚看我也应如是 </p>
    <h3>我看三亚多妩媚，料三亚看我也应如是</h3>    
	
	<ul>
		<!--<li><small>￥349.00</small> 市场参考价：<del>￥860.00</del></li>-->
		<!--<li>净含量<span>三瓶装360粒</span></li>-->
		<!--<li >数量<span id='jian'>-</span><i id='num'>1</i><span id='add'>+</span>&nbsp;总价&nbsp;<span id="sum">349</span></li>-->
		<!--<li>距离结束还有：<span id="time"></span></li>-->
	</ul>

	<b></b>

	<dl>
		<a href="javascript:;"><dt>倩倩文章<img src="img/icon06.png" ></dt></a>
		<a href="javascript:;"><dd>倩倩视频<img src="img/icon06.png" ></dd></a>
		<b></b>
		<a href="javascript:;"><dd><a href="javascript:;">倩倩图集<img src="img/icon06.png" ></dd></a>
	</dl>
	


	<article>
		<p>跟多内容<a href="javascript:;">尽请期待></a></p>
	</article>

	<b class='last'></b>

	<!--<ol>
		<li><a href="#/Car" id="senTcar"><span></span><p>购物车</p></a><a href="#"><span></span><p>已收藏</p></a></li>
		<li id="add-shop"><a href="javascript:;">加入购物车</a></li>
		<li id="last-li">0</li>
	</ol>-->
</div>